@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  background-color: #BDBDBD;
  color: #000000;
}

html, body{
  transition: all 0.3s ease;
}

html.dark{
  background-color: #121212;
  color: #E0E0E0
}

body{
  margin: 0;
  background-color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro', 'Helvetica Neue', sans-serif;
  transition: all 0.3s ease;
}
h1, h2, h3{
  font-family:"Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

p, button, input{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro", "Helvetica Neue", sans-serif;
  font-weight: bold;
}